<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <transactworld>
                <model>TransactworldPayment\Transactworld\Model\Transactworld</model>
                <title>Transactworld</title>
                <service_provider>transactworld_paisa</service_provider>
               <!--  <production_url>https://secure.paymentz.com/transaction/PayProcessController</production_url> -->
                <production_url backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
               <!--  <sandbox_url>https://staging.paymentz.com/transaction/PayProcessController</sandbox_url> -->
                <sandbox_url backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <environment>sandbox</environment>
                <account_type>transactworldmoney</account_type>
                <redirect_url>transactworld/standard/redirect</redirect_url>
                <return_url>transactworld/standard/response</return_url>
                <cancel_url>transactworld/standard/cancel</cancel_url>
                <merchant_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <toid backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <totype backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
				<partenerid backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <ipaddr backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <!-- <salt backend_model="Magento\Config\Model\Config\Backend\Encrypted" /> -->
            </transactworld>
        </payment>
    </default>
</config>
